-i https://pypi.org/simple/
certifi==2020.12.5
chardet==3.0.4
dataclasses==0.8 ; python_version < '3.7'
environs==8.0.0
idna==2.10
marshmallow==3.12.1
pydantic==1.6.2
python-dotenv==0.17.1
requests==2.24.0
urllib3==1.25.11
